.row {
    position: absolute;
    padding: 0px;
    width: 520px;
    height: 40px;
    border: 0px solid gray;
}

.button-a {
    position: absolute;
    width: 190px;
    height: 50px;
    font-size: 1.25em;
}

.input-a {
    position: absolute;
    padding: 4px;
    width: 80px;
    height: 40px;
    left: 220px;
    font-size: 1.75em;
    text-align: right;
    border: 1px solid gray;
}

#inputA { left: 210px; }
#inputB { left: 320px; }
#inputC { left: 210px; }
#inputD { left: 320px; }


.answer {
    position: absolute;
    padding: 4px;
    width: 80px;
    height: 40px;
    right: 0px;
    font-size: 1.75em;
    text-align: right;
    /*background-color: #eeeeee;*/
    border: 1px solid gray;
}


.button-b {
    width: 190px;
    height: 50px;
    font-size: 1.0em;
    margin-right: 20px;
    background-color: #cccccc;
}

.button-b:hover {
    background-color: #eeeeee;
}
