<main class="no-select">
    
  <h1>Welcome to the {{ title }}</h1>
  <p>Andy Knoll - Jan 17, 2019</p>
  <hr>

  <br>
  <p>This app imports a core module and a shared feature module.</p>
  <p>
    <b>Core module:</b> this provides a set of Material Design buttons for reuse throughout the app.
  </p>
  <p>
    <b>Shared module:</b> this provides a simple exported MathLib class with methods add(a, b) and mult(a, b).
  </p>
      
  <br>
  <div class="row">
    <button class="button-a" (click)="showAnswerAdd()">add(a, b)</button>
    <input id="inpAddA" class="input-a" type="number" value="1">
    <input id="inpAddB" class="input-a" type="number" value="2">
    <div id="answer-add"class="answer"></div>
  </div>

  <br>
  <br>
  <br>
  <div class="row">
    <button class="button-a" (click)="showAnswerMult()">mult(a, b)</button>
    <input id="inpMultA" class="input-a" type="number" value="3">
    <input id="inpMultB" class="input-a" type="number" value="4">
    <div id="answer-mult"class="answer"></div>
  </div>

  <!-- Material Design buttons -->
  <br>
  <br>
  <br>
  <br>
  <button class="button-b" mat-flat-button>flat button</button>
  <button class="button-b" mat-raised-button>raised button</button>

</main>
